<html>
  <head>
    {% if title %}
    <title>{{title}} - zyzier.tk</title>
    {% else %}
    <title>Peps's page</title>
    {% endif %}
  </head>
  <body>
    <div>Навигация: 
        <a href="/index">Home</a> 
        {% if g.user.is_authenticated() %}
        <a href="{{ url_for('notes')}}">Notes</a>
        <a href="/logout">Logout</a>
        {% endif %}
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>
