<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<div class="container">
<form class="form-horizontal" action="" method="post" name="edit">
    {{form.hidden_tag()}}
    <legend>Edit post</legend>
    <div class="form-group{% if form.errors.title %} error{% endif %}">
        <div class="controls col-md-6">
            {{form.title(class="form-control")}}
            {% for error in form.errors.title %}
            <span class="help-inline">[{{error}}]</span>
            {% endfor %}
        </div>
    </div>
    <div class="form-group">
        <div class="controls col-md-12">
        {{form.post(rows = "15", class="form-control")}}     
        </div>
    </div>
    <div class="form-group">
        <div class="controls col-md-12">
            <input class="btn btn-success" name="save" type="submit" value="Save changes">
            <a href="{{url_for('notes')}}"><input class="btn btn-default" name="save" type="button" value="Back"></a>
            <input class="btn btn-danger" name="delete" type="submit" value="Delete">
        </div>
    </div>
</form>
</div>
{% endblock %}
