<!-- extend from base layout -->
{% extends "base.html" %}
{% block content %}
<table>
    <tr valign="top">
        <td>
            <h1>Hi, {{user.nickname}}!</h1>
                        {% if user.role == 1 %}
                        <p><i>Role: admin</i></p>
                        {% elif user.role == 0 %}
                        <p><i>Role: user</i></p>
                        {% endif %}
                        {% if user.last_seen %}
                        <p><i>Last seen on: {{user.last_seen}}</i></p>
                        {% endif %}

        </td>
    </tr>
</table>
<hr>
{% endblock %}

