<!-- extend from base layout -->
{% extends "base.html" %}
{% block content %}
<div id = "masterhead">
    <div class = "container">
        <div class = "row">
            <div class = "col-md-7">
            <h1>Hi, {{user.nickname}}!
                <p class = "lead">
                    {% if user.role == 1 %} Admin
                    {% elif user.role == 0 %} User
                    {% endif %}
                    {% if user.last_seen %}
                    Last seen on: {{ momentjs(user.last_seen).calendar() }}
                    {% endif %}
                </p>
            </h1>
            </div>
            <div class = "col-md-5">
                <div class = "well well-lg">
                    <div class = "row">
                        <div class = "col-sm-12">
                        	<b>WMR:</b> R186507336237
						</div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /cont-->
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class = "panel">
                <div class = "panel-body">
                    <!-- posts is a Paginate object -->
                    {% for post in posts.items %}
                    <div class="row">
                        <br>
						<!-- Image of post
						<div class = "col-md-2 col-sm-3 text-center">
                            <a class = "story-img" href="#"><img src="//placehold.it/100" style = "width:100px;height:100px" class = "img-circle"></a>
                        </div>
						-->
                        <div class = "col-md-10 col-sm-9">
                            <h3>{{post.title}}</h3>
                            <div class = "row">
                                <div class = "col-xs-9">
                                    <p>Note#{{post.id}}<i>by {{post.author.nickname}}</i> modified: {{ momentjs(post.timestamp).calendar() }}</p>
                                    <p class = "lead"><a class="btn btn-default" href="{{url_for('view_post', post_id = post.id)}}" role="button">View details »</a></p>
                                </div>
                            </div>
                            <br><br>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
<ul class="pager">
    {% if posts.has_prev %}
    <li class="previous"><a href="{{ url_for('index', page = posts.prev_num) }}">Newer posts</a></li>
    {% else %}
    <li class="previous disabled"><a href="#">Newer posts</a></li>
    {% endif %}
    {% if posts.has_next %}
    <li class="next"><a href="{{ url_for('index', page = posts.next_num) }}">Older posts</a></li>
    {% else %}
    <li class="next disabled"><a href="#">Older posts</a></li>
    {% endif %}
</ul>
</div>
{% endblock %}

