<!-- extend from base layout -->
{% extends "base.html" %}
{% block content %}

<div class="container">
<!-- Carousel -->
<div id="myCarousel" class="carousel slide container" data-interval="3000" data-ride="carousel">
	<ol class="carousel-indicators">
	<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
	<li data-target="#myCarousel" data-slide-to="1" class=""></li>
	<li data-target="#myCarousel" data-slide-to="2" class=""></li>
	</ol>
	<div class="carousel-inner" role="listbox">
		<div class="item active">
			<img alt="First slide" src="/static/img/bender.jpg">
			<div class="container">
				<div class="carousel-caption">
            		<h1>Hi, {{user.nickname}}!
						<p class = "lead">
						{% if user.role == 1 %} Admin
						{% elif user.role == 0 %} User
						{% endif %}
						{% if user.last_seen %}
						Last seen on: {{ momentjs(user.last_seen).calendar() }}
						{% endif %}
						</p>
					</h1>
				<p><a class="btn btn-lg btn-primary" href="#" role="button">Some button</a></p>
				</div>
			</div>
		</div>
		<div class="item">
			<img alt="Second slide" src="/static/img/1.png">
		</div>
		<div class="item">
			<img alt="Third slide" src="/static/img/1.png">
		</div>
	</div>
	<!-- Controls -->
	<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
	<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div> <!-- Carousel -->
</div>

<!--POSTS -->
<div class="container">
            <div class = "panel text-center">
                <div class = "panel-body">
                    <!-- posts is a Paginate object -->
                    {% for post in posts.items %}
                        <br>
						<!-- Image of post
						<div class = "col-md-2 col-sm-3 text-center">
                            <a class = "story-img" href="#"><img src="//placehold.it/100" style = "width:100px;height:100px" class = "img-circle"></a>
                        </div>
						-->
                        <h3>{{post.title}}</h3>
                        <p>Note#{{post.id}}<i>by {{post.author.nickname}}</i> modified: {{ momentjs(post.timestamp).calendar() }}</p>
                        <p class = "lead"><a class="btn btn-default" href="{{url_for('view_post', post_id = post.id)}}" role="button">View details »</a></p>
                        <br><br>
                    {% endfor %}
                </div>
            </div>
<!--PAGER-->
<ul class="pager">
    {% if posts.has_prev %}
    <li class="previous"><a href="{{ url_for('index', page = posts.prev_num) }}">Newer posts</a></li>
    {% else %}
    <li class="previous disabled"><a href="#">Newer posts</a></li>
    {% endif %}
    {% if posts.has_next %}
    <li class="next"><a href="{{ url_for('index', page = posts.next_num) }}">Older posts</a></li>
    {% else %}
    <li class="next disabled"><a href="#">Older posts</a></li>
    {% endif %}
</ul>
</div>

{% endblock %}
