<!-- extend from base layout -->
{% extends "base.html" %}
{% block content %}
<table>
    <tr valign="top">
        <td>
            <h1>Hi, {{user.nickname}}!</h1>
			{% if user.last_seen %}
			<p><i>Last seen on: {{user.last_seen}}</i></p>
			{% endif %}
        </td>
    </tr>
    <p><a href="{{url_for('edit', post_id = newpost_id)}}"><input type="button" value="New post"></a></p>
</table>
<hr>
<!-- posts is a Paginate object -->
{% for post in posts.items %}
<div>
	<p>
		Note#{{post.id}}: <b>{{post.title}}</b>
		<!-- For get post author: 
		<p>auth:<i>{{post.author.nickname}}</i></p>
		-->
		<p><a href="{{url_for('edit', post_id = post.id)}}"><input type="button" value="Edit"></a>
		<a href="{{url_for('view_post', post_id = post.id)}}"><input type="button" value="View"></a></p>
	</p>
</div>
{% endfor %}
{% if posts.has_prev %}<a href="{{ url_for('index', page = posts.prev_num) }}"><< Newer posts</a>{% else %}<< Newer posts{% endif %} | 
{% if posts.has_next %}<a href="{{ url_for('index', page = posts.next_num) }}">Older posts >></a>{% else %}Older posts >>{% endif %}
{% endblock %}
