<!-- extend from base layout -->
{% extends "base.html" %}
{% block content %}
<div class = "container">
    <i>author:</i> {{post.author.nickname}}
    {% if post.timestamp %}
    <p><i>Last modified:</i> {{ momentjs(post.timestamp).fromNow() }}</p>
    {% endif %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><center><b>{{post.title}}</b></center>
        </div>
        <div class="panel-body">
            {{post.body|markdown}}
        </div>
    </div>
    <div class="form-group col-md-4">
        <div class="controls">
            {% if post.author.nickname == user.nickname %}
            <a href="{{url_for('edit', post_id = post.id)}}"><input class="btn btn-default" type="button" value="Edit"></a>
            <a href="{{url_for('notes')}}"><input class="btn btn-default" type="button" value="Back"></a>
            {% else %}
            <a href="{{url_for('index')}}"><input class="btn btn-default" type="button" value="Back"></a>
			{% endif %}
        </div>
    </div>
</div>
{% endblock %}
